/*div {
	color:red;
}*/

html {
background-color:#FFEBCD;
}

#t1 {
	font-family: Arial, serif;
	color:#614021;
	font-weight: bold;
	font-size: 45px;
}
#t2 {
	font-family: Courier, serif;
	color:gray;
}

h2{
	font-family:Arial;
	color: #614021;
	margin-left:40px;
}

#body1 {
	border: 1px solid;
	padding: 10px;
}

/*#body1 p {
	margin-left:5px;
}

#body1 h3 {
	margin-left:5px;
}

#s1 {
	margin-left:5px;
	color: #614021;
}*/

#posted_date{
	font-size: 12px;
}
